.segments {
  background-color: #000;
  height: 20px;
  display: flex;
  flex-direction: row;
}

.seg-half-byte {
  flex: 1 1 auto;
  display: flex;
}

.on {
  background-color: #f44;
  height: 20px;
}

.off {
  background-color: #c22;
  height: 20px;
}

.width-1 {
  flex: 0 0 25%;
}

.width-2 {
  flex: 0 0 50%;
}

.width-3 {
  flex: 0 0 75%;
}

.width-4 {
  flex:0 0 100%;
}